backend/node_modules/
frontend/node_modules/

backend/.env
frontend/.env

node_modules/
.env
dist/
build/
node_modules/
**/node_modules/

.env
.env.*

dist/
build/

.vscode/
.idea/

*.log
.DS_Store
Thumbs.db